* {
    margin: 0;              /* Clears all default spacing outside the borders of elements */
    padding: 0;             /* Clears all default spacing inside the elements */

    box-sizing: border-box; /* Changes how the width and height of elements are calculated
                               Normally: width = content only 
                                         Actual size = width + padding + border
                                         
                               With border-box: width includes content + padding + border
                               This makes sizing much easier to predict.                           */
}

/* Applies styles to the entire visible webpage */
body {
    font-family: Arial, Helvetica, sans-serif; /* Sets the typeface for all text on the page.
                                                  This is a "fallback stack". The browser tries to load Arial first.
                                                  If the user's computer doesn't have Arial installed, it falls back
                                                  to Helvetica.If both are missing, it uses the device's default 
                                                  sans-serif (clean, modern font without little feet/serifs)    */

    background-color: #f5f5f5;                /* Gives the whole application a subtle light gray background. */
}

/* Targets one specific HTML element with the ID attribute id="root" which is found in the index.html (commonly used 
   as the main wrapper in React, Vue, or modern web apps)                                                        */
#root {
    min-height: 100vh; /* Forces the container to be at least as tall as 100% of the viewport height (the visible 
                          screen area).100vh means "100 view height units"                                       */
}

/*
===========================================
Universal Selector (*)
===========================================

What is it?
- Selects every HTML element on the page.

Why is it used?
- To remove the browser's default spacing so
  styling starts from a consistent baseline.

Why remove the defaults?
- Every browser ships with its own default CSS.
  Removing it gives us predictable styling
  across different browsers.
*/