.auth-page {
    width: 500px;
    margin: 40px auto;
    padding: 20px;
}

.auth-form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.form-field input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    border-color: orange;
}

.form-field input:focus {
    outline: none;
    border-color: darkorange;
}

.auth-button {
    width: 100%;
    padding: 11px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: deepskyblue;
    color: white;
    transition: all 0.25s ease;
}

.auth-button:hover {
    opacity: 0.9;
    transform: translateY(-6px);
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-6px); }
  40%, 80% { transform: translateX(6px); }
}

.form-field input.input-error {
   border: 1px solid red;
}

.input-shake{
    animation: shake 0.4s ease-in-out;
}

.field-error {
    color: red;
    font-size: 14px;
}

.auth-link {
    text-align: center;
   padding: 10px;
}