.car-form {
    display: flex;
    min-height: 55vh;
    justify-content: center;
    align-items: flex-start;
    width: 900px;
    margin-left: -50%;
}

.form-container {
    width: 850px;
    margin: -20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    min-height: 60vh;
}

.form-field {
    text-align: left;
}

.car-form-heading {
    text-align: center;
    padding: 10px;
}

.form-buttons {
    display: flex;
    gap: 10px;
}

.form-button {
    flex-grow: 1;
    /* flex-grow → how much space each button gets */
    cursor: pointer;
    border: none;
    color: aliceblue;
    background-color: deepskyblue;
    padding: 11px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.25s ease;
}

.form-button:hover {
    opacity: 0.9;
    transform: translateY(-6px);
}

.cancel {
    background-color: red;
}

.image-label {
    text-align: left;
    margin-bottom: 5px;
}

.choose-picture {
    display: inline-block;
    width: fit-content;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid deepskyblue;
}

.choose-picture:hover {
    animation: deepskyblueGlow 1.5s ease-in-out infinite;
}

.choose-picture input[type="file"] {
    display: none;
}

.current-car-image {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}

.car-form-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

.car-details-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.car-image-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.remove-picture {
    align-self: flex-start;
    padding: 5px;
    margin-top: 5px;
    border: none;
    background-color: deepskyblue;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.remove-picture:hover {
    animation: deepskyblueGlow 1.5s ease-in-out infinite;
}

@keyframes deepskyblueGlow {

    0%,
    100% {
        box-shadow: 0 0 3px deepskyblue;
    }

    50% {
        box-shadow: 0 0 12px deepskyblue;
    }
}

.picture-selection {
    display: grid;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.image-name {
    color: #555;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}