.vehicle-page{
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
}

.vehicle-search{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 213px;
    margin-left: calc((500px - 100vw) / 2);
    margin-bottom: 10px;
}

.vehicle-search input{
    width: 400px;
    padding: 5px 15px;
    border: 1px solid deepskyblue;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
}

.vehicle-search input:focus{
    border: 1px solid deepskyblue;
    animation: colourGlowSearch 1.5s ease-in-out infinite;
}

@keyframes colourGlowSearch {
    0%,100%{
        box-shadow: 0 0 3px deepskyblue;
    }
    50%{
        box-shadow: 0 0 12px deepskyblue;
    }
}

.card-flow{
    display: grid;
    grid-template-columns: repeat(10 , 140px);
    grid-auto-rows: 250px;
    gap: 15px;
    justify-content: center;
    padding-top: 10px;
}

.add-button{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid orange;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 15px;
    color: black;
    transition: all 0.25s ease;
    background-color: aliceblue;
}

.add-button:hover{
    opacity: 0.9;
    transform: translateY(-6px);
    animation: orangeGlow 1.5s ease-in-out infinite;
}

@keyframes orangeGlow {
    0%, 100%{
        box-shadow: 0 0 3px orange;
    }

    50%{
        box-shadow: 0 0 12px orange;
    }
}